@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}

.nav-link {
  padding-bottom: 1px;
  text-decoration: none;
  color: black;
}

.icon {
  background-color: transparent;
}

header .nav-link:hover {
  opacity: 50%;
}

a.name-link:hover {
  color: #0ea4e9;
}

.dark-mode-span {
  border-right: 1px solid rgb(226, 233, 241);
}

/* DARK MODE  */

.dark body {
  background-color: #15151e;
  color: #dfddea;
}

.dark header .nav-link {
  color: white;
}
.dark a.name-link {
  color: white;
}

.dark a.name-link:hover {
  color: #0ea4e9;
}

.dark-mode-icon:hover {
  color: #0ea4e9;
}

.dark .dark-mode-span {
  border-right: 1px solid rgb(29, 44, 58);
}

.dark .card {
  border: 1px solid #272731;
}
